//! **************************************************************************
// Written by: Map P.20131013 on Thu Dec 15 16:05:12 2022
//! **************************************************************************

SCHEMATIC START;
COMP "P1231" LOCATE = SITE "P123" LEVEL 1;
COMP "ABIT" LOCATE = SITE "P141" LEVEL 1;
COMP "DP<0>" LOCATE = SITE "P41" LEVEL 1;
COMP "Buzzer" LOCATE = SITE "P83" LEVEL 1;
COMP "DP<1>" LOCATE = SITE "P40" LEVEL 1;
COMP "DP<2>" LOCATE = SITE "P35" LEVEL 1;
COMP "DP<3>" LOCATE = SITE "P34" LEVEL 1;
COMP "BBIT" LOCATE = SITE "P2" LEVEL 1;
COMP "DP<4>" LOCATE = SITE "P32" LEVEL 1;
COMP "DP<5>" LOCATE = SITE "P29" LEVEL 1;
COMP "DP<6>" LOCATE = SITE "P27" LEVEL 1;
COMP "EQ" LOCATE = SITE "P143" LEVEL 1;
COMP "B1<0>" LOCATE = SITE "P121" LEVEL 1;
COMP "B1<1>" LOCATE = SITE "P120" LEVEL 1;
COMP "B1<2>" LOCATE = SITE "P119" LEVEL 1;
COMP "B1<3>" LOCATE = SITE "P118" LEVEL 1;
COMP "B1<4>" LOCATE = SITE "P58" LEVEL 1;
COMP "B1<5>" LOCATE = SITE "P59" LEVEL 1;
COMP "B1<6>" LOCATE = SITE "P61" LEVEL 1;
COMP "B1<7>" LOCATE = SITE "P62" LEVEL 1;
COMP "outmom1" LOCATE = SITE "P117" LEVEL 1;
COMP "SW0" LOCATE = SITE "P66" LEVEL 1;
COMP "K60" LOCATE = SITE "P112" LEVEL 1;
COMP "K61" LOCATE = SITE "P111" LEVEL 1;
COMP "K62" LOCATE = SITE "P105" LEVEL 1;
COMP "K63" LOCATE = SITE "P104" LEVEL 1;
COMP "K64" LOCATE = SITE "P102" LEVEL 1;
COMP "SW7" LOCATE = SITE "P55" LEVEL 1;
COMP "K65" LOCATE = SITE "P101" LEVEL 1;
COMP "K66" LOCATE = SITE "P100" LEVEL 1;
COMP "Common0" LOCATE = SITE "P44" LEVEL 1;
COMP "K67" LOCATE = SITE "P99" LEVEL 1;
COMP "Common1" LOCATE = SITE "P43" LEVEL 1;
COMP "Randomdealer" LOCATE = SITE "P116" LEVEL 1;
COMP "com2" LOCATE = SITE "P33" LEVEL 1;
COMP "com3" LOCATE = SITE "P30" LEVEL 1;
COMP "PB1" LOCATE = SITE "P45" LEVEL 1;
COMP "PB3" LOCATE = SITE "P47" LEVEL 1;
SCHEMATIC END;

